{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About</h2>
    <hr>
    <br>
    <div class="row container">
        <div class="col"> 
            <!--fs-4 text-left-->
        <p class="text-center w-responsive mx-auto mb-5"><small>Hemmet Clothing is specializes in designing and selling t-shirts, hoodies, and sweatshirts. It offers a wide range of designs and styles to choose from, including graphic tees, vintage tees, and custom designs.

        Users can browse the available designs on the website and select the ones they like. Also allows users to customize their designs by selecting the size.<br>
            
        Overall, Hemmet Clothing is a great web app for anyone looking for high-quality and stylish t-shirts, hoodies, and sweatshirts.</small>
    </div> 
    </div>
    <br><br>

</div> 
{% endblock main-content %}