{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block main-content %}
<style>
    .btn-custom {
        background-color: rgb(0,128,128);
    }
</style>
<div class="container">
    {% if messages %}
        {% for msg in messages%}
        <div class ="alert alert-danger" role="alert">
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
    <div class="row mt-5">
        <div class="col-sm-6">
            <h4>ORDER SUMMARY</h4>
            <br>
            {% for item in cart_items %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5>Product: {{item.product.title}}</h5>
                    <p>Quantity: {{item.quantity}}</p>
                    <p class="fw-bold">Price: {{item.product.selling_price}}</p>   
                </div>
            </div>
            {% endfor %}
            <p class="fw-bold">Total Cost + Rs.20 = {{totalamount}}</p>
        </div>
       
        <div class="col-sm-4 offset-sm-1">
            <h4>Select Shipping Address</h4>
            <br>
            <form method="post" id="myform">
                {% csrf_token %}
                {% for ad in add %}
                <div class="card">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}" {% if forloop.counter == 1 %} checked {% endif %} {% if forloop.counter <= 0 %} disabled {% endif %}>
                            <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
                                {{ad.name}} <br>
                                Mobile: {{ad.mobile}} <br>
                                {{ad.locality}} {{ad.city}} {{ad.state}} - {{ad.zipcode}}
                            </label>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="form-check mb-3">
                    <label class="totalamount" class="form-label">Total Amount</label>
                    <input type="number" class="form-control" name="totalamount" value="{{ totalamount }}" readonly>
                </div>    
                <div class="text-end">
                    <button id="rzp-submit" type="submit" class="btn btn-custom mt-3 px-5 fw-bold">Proceed</button>
                </div><br><br><br>
            </form>
        </div>
        
    </div>
</div>
{% endblock main-content %}
{% comment %} {% block payment-gateway %}
<script>
    
</script>
{% endblock payment-gateway%} {% endcomment %}